extends layout

block content
 div(class="headers")
  div(class="container")
    div(class="row salto")
      div(class="col-md-12 text-center")
        div(class="wow fadeIn")
          a(href="/")
          img(src="../images/logo.png")
        div(class="")
          p(class="letraslogan1 wow fadeIn") Soluccion Tecnologica en tus Manos
          p(class="wow fadeInDown letraslogan2",data-wow-delay="0.5s") Actualizate con nosotros y nuestras Tecnologias
        nav(class="wow fadeInDown spacio",data-wow-delay="0.5s")
          a(class="",href="/") Inicio
          a(class="",href="/servicios/new") Registro
          a(class="",href="/servicios") Tecnologias
          a(class="",href="#") About
          a(class="",href="#") Contacto