extends ../layout

block content
 div(class="headers")
   nav(class="text-center spacio")
    a(class="",href="/") Inicio
    a(class="",href="/servicios/new") Registro
    a(class="",href="/servicios") Tecnologias
    a(class="",href="#") About
    a(class="",href="#") Contacto
  div(class="container")
     br
     h3(class="text-center letraslogan3") Lista de Tecnologias
     br
     div(class="row")
     each dat in datas
       div(class="col-md-3 wow fadeInLeft")
         div(class="card hoverable text-center")
            articule
              h2(class="letraslogan1") #{dat.Titulo}
              img(src="images/#{dat.ImageUrl}" class="tamano")
              div(class="card-content")
                 h2(class="letraslogan1 borde") Descripcion
                 p(class="descripcion") #{dat.Descripcion}
                 p(class="descripcion") C$ #{dat.Precio}